@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
}

.profile{
    width: 1316px;
    height: 594px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding: 24px;
}



.profile-title{
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: bold;

}

.profile-sub-title{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin-top: 42px;
    margin-right: 42px;
    
}


.profile-img{
    width: 394px;
    height: 492px;
    border: solid 2px #fafafa;
    border-radius: 40px
}

