@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
}

.colection-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fafafa;
}

.info-hero {
  background-color: #fafafa;
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgb(221, 215, 215);
}

.logo {
  width: 260px;
  height: 260px;
}

.links-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 400px;
}
.links {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 400;
  margin-right: 24px;
  text-decoration: none;
}

.btn-contact {
  font-family: "Noto Serif", serif;
  margin-right: 48px;
  width: 120px;
  height: 35px;
  font-size: 14px;
  border: solid 1px;
  border-radius: 2px;
}

.section-colection {
  width: 1260px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.box-colection {
  width: 400px;
  height: 250px;
  margin-left: 28px;
  overflow: hidden;
  border-radius: 7px;
}

.img-colection {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.link {
  position: relative;
  display: block;
}

.texto {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 99;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  color: #000;
  opacity: 0;
}

.texto:hover {
  opacity: 1;
  background: #ffffff83;
  transition: all 1.5s ease;
}
